nav{
    background-color: $primary-gray ;
    & > div{
        justify-content: center !important;
    }
    
    .navbar-toggler{
        background-color: $font-dark-gray;
        margin: 0.5rem 0;
        border-color: $primary-red !important;
        &:focus {color: $primary-red;}
        .menu-hamburger{                  
            .bar1, .bar2, .bar3 {
                width: 2.8rem;
                height: 0.4rem;
                background-color: $primary-red;
                margin: 6px 0;
                transition: 0.4s;
              }
        }
    }

    #top-main-nav{
        //background-color: $primary-light-gray;
        .nav-link{
            text-align: center;
            padding: 1.3rem 0.5rem;
            border-top: $border-gray solid 0.1rem;
        }
    }

   
}