/*“Web typography” refers to the appearance of all the text on your website. It includes basic 
CSS text properties like what font to use and whether it should be italic or not, but typography 
is much more than that. It’s about the space between and around letters, words, and lines. It’s 
the size of different runs of text in relation to one another, and the history behind each font family.

https://www.internetingishard.com/html-and-css/web-typography/
*/

/* !!!!___ Use % rather than px for all layout-related lenghts (including pictures) ___!!!! */

h1, h2, h3, h4, h5, h6{
    font-family: 'IM Fell English', serif;
    text-transform: uppercase;
}

p{
    font-size: 1.7rem;
    padding-bottom: 1rem;  
    line-height: 3rem; 
}

//SECTION HEADER
h2 {
    font-size: 3.4rem;
    text-shadow: black 0.1rem 0.1rem;
    overflow: hidden; 
    @include respond(tab-land) {
      font-size: 4rem;
    }
  }

//SECTION SUB-HEADER
h3,
h4,
h5 {
 // font-size: 2.2rem;
 // text-shadow: black 0.1rem 0.1rem;
  //color: white;
}

//HIPERLINKS
a {
    text-decoration: none;
    font-size: 1.8rem;
  }
