.banner-about{
        background-color: $primary-red;
        &--image{
            width: 100%;
            height: auto;
        }
    .card{
        background-color: $primary-red;
        &-title{
           
            margin: 1rem 0;
        }
    } 
}

#about{
    .about-left{
        background-color: $primary-gray;
    }
    .about-right{
        color: $font-gray;
       
        padding-top: 3rem;
        & > :not(:last-child) { 
            border-bottom: $border-gray solid 0.1rem;
          }     
        .features{
            margin: 1rem 0; 
        }
    }
}