

#about{
    .section-content{
        padding: 1rem;
      }
    .about-left{
        background-color: $primary-gray;
    }
    .about-right{
        color: $font-gray;
       
        padding-top: 3rem;
        & > :not(:last-child) { 
            border-bottom: $border-gray solid 0.1rem;
          }     
        .features{
            margin: 1rem 0; 
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1rem;
        }
    }
}