.banner-introduction {
  //background-color: $primary-red;
  @include respond(tab-land) {
    .row{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row !important;
    }
  }

  &--heading {
    background-color: $primary-red;
    padding: 3rem 2rem;
    text-transform: uppercase;
    @include respond(tab-land) {
      min-height: 25rem;
    }
    p {
      padding-bottom: 0;
      margin-bottom: 0;
      @include respond(tab-port) {
        margin: 0 auto;
        margin-left: 23rem;
      }
      @include respond(tab-land) {
        margin-left: 0;
      }
    }
    span {
      margin: 0 auto;
      padding-bottom: 0;
    }
  }
  &--body {
    padding: 5rem 0;
    @include respond(tab-port) {
      display: flex;
      justify-content: center;
      padding: 5rem !important;
    }
    @include respond(tab-land) {
      padding: 0 !important;
      padding-top: 3rem !important;
      justify-content: space-around;
    }
    h6 {
      margin-bottom: 2.5rem;
      padding: 0 0.8rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.banner-about {
  background-color: $primary-red;
  //border-top: $primary-red solid 0.1rem;

  .row {
    padding-top: 5rem !important;
  }
  .accordion-button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    min-height: 7rem;
    background-color: $primary-red !important;
    width: 100%;
    &::after {
      background-color: #0d6efd;
      margin-left: 1rem !important;
    }
    &:active,
    &:focus {
      border-color: $primary-red !important;
    }
  }

  .card {
    background-color: $primary-red;
    color: $white;
    z-index: 1;
    margin-bottom: 5rem;
    -webkit-box-shadow: 0px 3px 16px -7px rgba(143, 143, 143, 1);
    -moz-box-shadow: 0px 3px 16px -7px rgba(143, 143, 143, 1);
    box-shadow: 0px 3px 16px -7px rgba(143, 143, 143, 1);

    &-title {
      margin: 1rem 0;
    }
    &-body {
      padding: 0 !important;
      li {
        list-style: circle;
      }
    }
  }
}

.contact-banner {
  background-color: $primary-red;
  padding: 5rem 1rem;

  &--header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem;
  }
  &--button {
    text-align: center;
    border-radius: 0.3rem;
    margin-top: 1.5rem;
  }
  &--info {
    display: flex;
    flex-direction: row;
    align-items: center;
    @include respond(tab-port) {
      & > :not(:last-child) {
        margin-bottom: 2rem;
      }
    }

    a {
      margin-right: 1.5rem;
      @include respond(tab-port) {
        margin-right: 3rem;
      }
    }
  }
}
