#testimonials{
    background-color: $primary-gray;
    height: 100vh;
    .section-title{
       // background-color: $primary-gray;
    }
    #testimonial-carousel{
        .carousel-item{
            height: 75vh;
        }
        .carousel-caption{
            height: 100%;
            top: 10%;
         
        }
    }
}