#testimonials{
    background-color: $primary-gray;
    height: 100vh;
    .section-title{
       // background-color: $primary-gray;
    }
    #testimonial-carousel{
        .carousel-indicators{
            bottom: -5%;
        }
        .carousel-item{
            height: 65vh;
        }
        .carousel-caption{
            height: 100%;
            top: 5%;
         
        }
    }
}