#testimonials{
    background-color: $primary-gray;
    color: $white;
    height: 100vh;
    .section-title{
       // background-color: $primary-gray;
    }
    #testimonial-carousel{
        .carousel-item{
            height: 75vh;
        }
        .carousel-caption{
            height: 100%;
            top: 30%;
            .customer{
                color: $primary-red;
                text-shadow: $black 0.1rem 0.1rem;
                letter-spacing: 0.2rem;
                text-transform: uppercase;
            }
        }
    }
}